.title {
  text-align: center;
}

.searchbox {
  padding: 2px;
  text-align: center;
}

.searchbox-input {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #BBBBBB;
  height: 50px;
  text-align: center;
  font-size: 100%;
  width: 50%;
}

.searchbox-input:focus {
  width: 80%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.cards-list {
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: #BBBBBB;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.01); }

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

 .card-deck {
     -webkit-column-count: 1;
     -moz-column-count: 1;
     column-count: 1;
 }

 .footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 50px;
   width: 100%;
 }

 @media (max-width: 767px) {
   .device-big {
     display: none;
   }
   .device-small {
     display: block;
   }
 }

 @media only screen and (min-width: 768px) {
   .device-big {
     display: block;
   }
   .device-small {
     display: none;
   }
 }
